<div class="container">
    <div class="row mt-5" mb-5>
        <div class="col-md-12">
            <h1 class="text-center">Sejam bem Vindos!</h1>
        </div>
    </div>
     <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, totam nulla nobis explicabo, velit
                architecto eaque tenetur quam pariatur dolores, autem nam! Cumque corrupti itaque vero, nemo facere
                maxime a.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis sint, itaque laborum voluptatum
                delectus sed accusamus laudantium provident quia debitis ullam quae pariatur quidem tenetur voluptates
                cum rem tempore?
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>
    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-ouline-dark" routerLink = '/feed'>Ver o feed</button>
        </div>
    </div>
