<div class="container">

    <div class="row mt-5 mb-5">

        <div class="col-md-4">

            <div class="card border-0" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                    <img class="card-img-top rounded-circle w-75" src="blogPessoal\img\deniseimg.jpeg"
                        alt="img de capa do card">
                </div>

                <div class="card-body">
                    <h5 class="card-title text-center">Denise Pereira</h5>
                    <p class="card-text text-center">Aluna do curso Desenvolvedor Java Junior na Generation.</p>

                    <a href="https://www.linkedin.com/in/denise-pereira-santos/"
                        class="btn btn-outline-info d-flex justify-content-center mb-3" target="_blank">linkedin</a>

                    <a href="https://github.com/denisesanper/"
                        class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

                    <hr class="mt-4 mb-4">

                    <h6 class="mb-3 text-monospace text-center">Pesquisar por título</h6>

                    <input type="text" class="form-control mb-3 w-100" placeholder="Pesquisar Postagem">

                    <button class="btn btn-outline-warning w-100" type="button">Pesquisar</button>

                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div>
                <h3 class="text-center mb-4 text-monospace">Como tem sido minha experiência na generation?</h3>

                <div class="form-group">
                    <label for="título" class="text-monospace">Título</label>
                    <input type="text" name="título" id="título" class="form-control" placeholder="Digite seu título">
                </div>

                <div class="form-group">

                    <label for="texto">Texto</label>
                    <textarea name="texto" id="texto" cols="30" rows="4" class="form-control"
                        placeholder="Digite seu texto"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-info w-25">Publicar</button>
                </div>
            </div>

            <hr class="mt-5 mb-5">

            <h3 class="text-monospace text-center">Minhas postagens</h3>

        </div>

    </div>

</div>